body {
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1; /* Faz o conteúdo principal ocupar o espaço disponível */
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #ff6600;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

/* Estilo para os itens da barra de navegação */
.nav-link {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    color: #fff; /* Cor padrão do texto */
    border: 2px solid #ffffff00; /* Define a cor da borda como branco */
    border-radius: 20px; /* Arredonda as bordas */
    transition: all 0.3s ease; /* Transição suave para as mudanças */
    background-color: transparent; /* Fundo transparente por padrão */
    text-decoration: none; /* Remove sublinhado */
}

/* Efeito hover para os itens da barra de navegação */
.nav-link:hover {
    color: #ff6600; /* Muda a cor do texto ao passar o mouse */
    border-color: #ff6600; /* Muda a cor da borda para laranja ao passar o mouse */
    background-color: #ffffff31; /* Muda o fundo para branco ao passar o mouse */
    border: 2px solid #fff; /* Define a cor da borda como branco */
    border-radius: 20px; /* Arredonda as bordas */
}



.jumbotron {
    background-color: #ff6600; /* Mantém o fundo laranja */
    color: #fff;
    padding: 4rem 2rem;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

/* Efeito glitch para o título */
.glitch-title {
    position: relative;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem; /* Tamanho base para telas maiores */
    animation: neon-flicker 1.5s infinite;
}

/* Efeito glitch para o subtítulo */
.glitch-subtitle {
    position: relative;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem; /* Tamanho base para telas maiores */
    color: #fff;
    animation: glitch 2s infinite;
}

/* Botão estilo glitch */
.glitch-button {
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px 30px;
    color: #ff6600;
    background-color: transparent;
    position: relative;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem; /* Tamanho base */
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    animation: neon-flicker 1.5s infinite;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .glitch-title {
        font-size: 2.5rem; /* Diminui o tamanho do título em telas menores */
    }
    .glitch-subtitle {
        font-size: 1rem; /* Diminui o tamanho do subtítulo */
    }
    .glitch-button {
        font-size: 1.2rem; /* Ajusta o tamanho da fonte do botão */
        padding: 8px 20px; /* Ajusta o padding do botão */
    }
}

/* Ajustes para telas ainda menores (smartphones) */
@media (max-width: 576px) {
    .glitch-title {
        font-size: 2rem; /* Ainda menor para smartphones */
    }
    .glitch-subtitle {
        font-size: 0.9rem;
    }
    .glitch-button {
        font-size: 1rem;
        padding: 6px 15px; /* Mais compacto */
    }
}


.tamanhologo {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
  }

.tamanhologo:hover {
    transform: scale(1.2); /* Aumenta o tamanho do card em 5% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para dar mais destaque */
}

.feature-card {
    background-color: #262626;
    border: none;
    color: #fff;
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card em 5% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para dar mais destaque */
}

footer {
    background-color: #000;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    position: relative;
}


.animated-bg {
    background: linear-gradient(-45deg, #ff6600, #ffcc00, #ff6600, #ffcc00);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

/* Estiliza o "track" da barra de rolagem (o fundo) */
::-webkit-scrollbar-track {
    background: #1a1a1a; /* Cor do fundo da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Estiliza o "thumb" da barra de rolagem (a parte que se move) */
::-webkit-scrollbar-thumb {
    background-color: #ff6600; /* Cor da parte móvel */
    border-radius: 10px; /* Bordas arredondadas */
    border: 3px solid #1a1a1a; /* Borda em volta da parte móvel */
}

/* Adiciona um efeito ao passar o mouse sobre a parte móvel */
::-webkit-scrollbar-thumb:hover {
    background-color: #e65c00; /* Cor mais escura ao passar o mouse */
}

/* Barra de rolagem no Firefox */
* {
    scrollbar-width: thin; /* Define a largura da barra como "fina" */
    scrollbar-color: #ff6600 #1a1a1a; /* Cor do thumb e do track */
}

/* Estilo geral para a seção de depoimentos */
.blockquote {
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    margin-bottom: 20px; /* Espaçamento inferior entre os blocos */
    text-align: center; /* Centraliza o texto no bloco */
    height: 100%; /* Ajusta a altura dos blocos para serem iguais */
}

/* Estilo para o texto de rodapé (quem fez o depoimento) */
.blockquote-footer {
    color: #ff6600; /* Cor laranja para destaque */
    font-size: 1rem; /* Tamanho do texto */
    margin-top: 10px; /* Espaçamento entre o depoimento e o autor */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .blockquote {
        margin-bottom: 20px;
    }
}

/* Estilo para o contêiner do Instagram */
.instagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Fundo claro ao redor dos embeds */
    padding: 10px; /* Espaçamento ao redor do conteúdo */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    height: 450px; /* Definindo uma altura fixa */
}

/* Ajuste de largura e altura para o iframe */
.instagram-container iframe {
    width: 100%; /* O iframe ocupará toda a largura disponível */
    height: 100%; /* O iframe ocupará toda a altura disponível */
    border-radius: 8px; /* Bordas arredondadas nos vídeos */
    border: none; /* Remove a borda do iframe */
}

/* Centraliza os elementos na linha */
.row {
    display: flex;
    justify-content: space-around; /* Distribui os elementos igualmente */
    align-items: center;
}

/* Adicionando espaçamento entre os blocos */
.row > div {
    margin-bottom: 20px;
}
